#avg,#mim,#max,.block_label{
	display: block;
}
a{
    text-decoration:  none;
    color: white;
    border-bottom: 2px solid transparent;
}  

a:hover{
    color: mediumseagreen;
    border-bottom: 2px solid rgb(60, 179, 113);
}
input,select{
    background-color: rgb(181, 236, 206);
    border: none;
    margin: auto;;
    border-radius: 10px;
}input:hover,select:hover{
    background-color: rgb(147, 211, 176);
    border: none;
}
.container-fluid{
   
    background: rgb(81,99,199);
    background: linear-gradient(135deg, rgba(81,99,199,1) 0%, rgba(40,182,147,1) 32%, rgba(25,144,201,1) 71%, rgba(10,177,125,0.9948354341736695) 100%);
 
    height: 100%;
}

h1{

    margin-bottom: 100px;
}
.dr{

  
    background-image: url('compass.png  ');
    background-repeat: no-repeat;

 background-size: 80%;
 background-position: center;
 padding: 30px;
}

.card{

  padding: 10px;
  margin: 10px;
  background-color: rgba(0, 17, 255, 0.185);
  
  border-radius: 10px;
  -webkit-box-shadow: 7px 9px 19px 0px rgba(0,0,0,0.79);
  -moz-box-shadow: 7px 9px 19px 0px rgba(0,0,0,0.79);
  box-shadow: 7px 9px 19px 0px rgba(0,0,0,0.79);
}
#currentCard{
    padding: 20px;
    
    min-width: 400px;
}
#cardLegend{
    padding-left: 10px; 
    padding-right: 10px;
    border-bottom:  2px solid white;;
    font-size:28px ;
}
label{
   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-weight: bold;
}
#statcard{
    margin-top: 20px;
}

.title{

    color: lightgray;
}
#time{

    font-size: 28px;
}
#temp {
    align-self: center;
}
    